<div class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h2 class ="title is-2" >Sign up</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
              <div class="field">
                <div class="control">
                  <%= f.input :name,
                              required: true,
                              autofocus: true,
                              input_html: {class:"input" },
                              label_html:{class:"label"},
                              wrapper:false %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.input :username,
                              required: true,
                              input_html: {class:"input" },
                              label_html:{class:"label"},
                              wrapper:false %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.input :email,
                              required: true,
                              autofocus: true,
                              input_html: {class:"input" },
                              label_html:{class:"label"},
                              wrapper:false %>
                </div>
              </div>

              <div class="field">
                <p class="control">
                  <%= f.input :password,
                              required: true,
                              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                              input_html: {class:"input" },
                              label_html:{class:"label"},
                              wrapper:false %>
                </p>
              </div>

              <div class="field">
                <p class="control ">
                  <%= f.input :password_confirmation,
                              required: true,
                              input_html: {class:"input" },
                              label_html:{class:"label"},
                              wrapper:false %>
                </p>
              </div>

              <div class="field">
                <div class="control">
                   <div class="columns is-centered my-2">
                  <%= f.button :submit, "Sign up",class: "button is-info is-medium " %>
                    </div>
                </div>
              </div>
          <% end %>
          <br>
          <div class="field">
                <div class="control">
                   <div class="columns is-centered ">
                      <%= render "devise/shared/links" %>
                    </div>
                </div>
              </div>
        
      </div>
    </div>
  </div>
</div>