<p style="color: green"><%= notice %></p>






<div class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Are you sure?</h1>
        <%= render @post %>
        <div>
          <%= link_to "Edit this post", edit_post_path(@post),class:"button is-info mt-2" %> <br>
          <%= link_to "Back to posts", posts_path ,class:"button is-warning my-2"%>

          <%= button_to "Destroy this post", @post, method: :delete,class:"button is-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>